@import 'bootstrap/dist/css/bootstrap.min.css';

.search-button {
  width: max-content;
  padding: 20px 30px;
  align-self: center;
  font-size: 28px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: darkred !important;
  border-color: darkred !important;
}

.btn-primary:hover {
  box-shadow: 0 0.2em 0.5em 0.1em black;
  transform: translateY(-0.1em);
}

.map-container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.recommendation-result {
  font-size: 6em;
  text-align: center;
}

.restaurant-name:hover {
  text-shadow: 2px 2px 2px black;
  transform: translateY(-0.1em);
  color: darkgray;
  cursor: pointer;
}

.control-container {
  height: 40%;
  display: flex;
  border-top-color: darkred;
  border-top-style: solid;
  border-top-width: 20px;
  background-image: url(../../assets/background-up.jpg);
}

.right-title-mid {
  height: 60%;
  justify-content: center;
  align-items: center;
}

.right-title-bottom {
  height: 20%;
  justify-content: flex-start;
}

.left-control-pane {
  height: 100%;
  width: 30%;
  justify-content: center;
}

.left-control-pane-before {
  height: 100%;
  width: 100%;
}

.right-control-pane {
  width: 70%;
  justify-content: center;
  align-content: center;
}

.right-title-top {
  height: 20%;
  justify-content: flex-end;
}

.left-title-top {
  height: 30%;
  justify-content: flex-end;
}

.left-title-middle {
  font-style: italic;
  height: 20%;
  justify-content: center;
}

.left-title-bottom {
  font-style: italic;
  height: 50%;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.large {
  font-size: x-large;
}

.huge {
  font-size: xx-large;
}
