<div *ngIf="!isLoadingMap" class="map-container">
  <app-map-view></app-map-view>
</div>

<div class="control-container">
  <div [ngClass]="isClicked ? 'left-control-pane' : 'left-control-pane-before'">
    <div class="left-title-top">Find yourself a place for lunch! 🍕</div>
    <div *ngIf="!isClicked" class="left-title-middle">Set the starting point on the map and press "Go!"</div>
    <div *ngIf="isClicked" class="left-title-middle">(You can always change the starting point)"</div>
    <div class="left-title-bottom">
      <button type="button" class="search-button btn btn-primary" (click)=findRestaurant() [disabled]="isLoading">
        {{isClicked ? "Find something else!" : "Go!"}}
        <div *ngIf="isLoading" class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </button>
    </div>
  </div>

  <div *ngIf="isClicked && !isLoading && restaurant" class="right-control-pane">
    <div *ngIf="isClicked" class="right-title-top small-title">Today's recommendation:</div>
    <div (click)="navigateToGoogleMaps()" class="right-title-mid recommendation-result">{{restaurant!.name}}</div>
    <div *ngIf="isClicked && timeOnFootMessage" class="right-title-bottom small-title">The restaurant is located {{ timeOnFootMessage }} away</div>
  </div>

  <div *ngIf="isClicked && !isLoading && !restaurant" class="right-control-pane">
    <div class="right-title-top small-title">Sad news:</div>
    <div class="right-title-mid recommendation-result">Nothing found!</div>
    <div class="right-title-bottom small-title">I searched for currently open, at least 3.5-star-rated restaurants in a walking distance</div>
  </div>

</div>
