@import 'bootstrap/dist/css/bootstrap.min.css';

.search-button {
  padding: 10px 20px;
  font-size: larger;
  flex-grow: 1;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: darkred !important;
  border-color: gold !important;
  border-width: medium;
  border-radius: 15px;
}

.btn-primary:hover {
  box-shadow: 0 0.2em 0.5em 0.1em black;
  transform: translateY(-0.1em);
}

.map-container {
  text-align: center;
  flex: 1;
}

.recommendation-result {
  font-size: x-large;
  text-align: center;
}

.restaurant-name:hover {
  text-shadow: 2px 2px 2px black;
  transform: translateY(-0.1em);
  color: darkgray;
  cursor: pointer;
}

.control-container {
  max-height: 30%;
  display: flex;
  flex-direction: column;
  border-top: 5px solid darkred;
  background-image: url(../../assets/background-up.jpg);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.right-title-top {
  height: 20%;
  justify-content: flex-end;
}

.left-title-middle {
  justify-content: center;
  flex-grow: 1
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.huge {
  font-size: larger;
}

.spinner-size {
  height: 1em;
  width: 1em;
}
