:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
}

app-top-bar {
  height: 68px;
  display: flex;
  align-items: center;
  background-color: darkred;
  justify-content: center;
}

app-middle-panel {
  display: flex;
  flex-direction: column;
  flex:2;
}

app-bottom-bar {
  background-color: darkred;
  padding: 0.5rem;
}
