:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
}

app-top-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  background-color: darkred;
  justify-content: center;
}

app-recommender {
  display: flex;
  flex-direction: column;
  flex: 2;
}
