.mouse-hover-click{
  cursor: pointer;
    font-size: 32px;
    color: white;
    font-weight: lighter;
}

.about {
  width: 48px;
  height: 48px;
  background-size: contain;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  background-image: url(../../assets/2.png);
  border-radius: 16px;
}

.about-wrapper{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.title-bar {
  color: #1976d2;
  text-decoration: none;
  width: 97%;
  justify-content: center;
  display: flex;
}
